.bbtn {
  color: #F9FBE7;
  background-color: #FF484C;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 26px;
  padding-left: 26px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px; }
  .bbtn:hover {
    background-color: #ff5256;
    color: #F9FBE7; }
  .bbtn:focus, .bbtn:active:focus, .bbtn.active:focus {
    color: #F9FBE7;
    outline: 0 none; }

.navbar {
  background-color: #2C2C2C;
  border-color: #2C2C2C;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-duration: 0.8s; }
  .navbar .navbar-nav > .active > a {
    transition: background-color 0.5s ease;
    background-color: #353535; }
    .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
      transition: background-color 0.5s ease;
      background-color: #353535; }
  .navbar .navbar-toggle {
    background-color: #353535; }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
      background-color: #2C2C2C;
      border-color: #2C2C2C; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #CCC; }

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #777; }
    .navbar .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #333; } }

@media (min-width: 767px) {
  .navbar {
    padding: 10px 0;
    -webkit-transition: background 0.25s ease-in-out, padding 0.25s ease-in-out;
    -moz-transition: background 0.25s ease-in-out, padding 0.25s ease-in-out;
    transition: background 0.25s ease-in-out, padding 0.25s ease-in-out; }
  .top-nav-collapse {
    padding: 0; } }

@keyframes dropHeader {
  0% {
    transform: translateY(-80px); }
  100% {
    transform: translateY(0px); } }

body {
  width: 100%;
  height: 100%;
  color: #F9FBE7; }

html {
  width: 100%;
  height: 100%; }

.main-logo {
  width: 250px;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16)) drop-shadow(0 3px 6px rgba(0, 0, 0, 0.23)); }

.name {
  color: #ECEFF1;
  font-size: 4.75em;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px; }

.segment {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

.intro-section {
  background: #3C3C3C; }

.about-section {
  background: #373737; }

/* navbar */
