@import "variables";

// $bgHighlight    : #353535;
// $colDefault     : #9d9d9d;
// $dropDown       : true;
// .navbar {
//   background-color: $nav-background-color;
//   border-color: $bgHighlight;
//   .navbar-brand {
//     color: $colDefault;
//     &:hover, &:focus {
//       color: $text-color; }}
//   .navbar-text {
//     color: $colDefault; }
//   .navbar-nav {
//     > li {
//       > a {
//         color: $colDefault;
//         &:hover,  &:focus {
//           color: $text-color; }}
//       @if $dropDown {
//         > .dropdown-menu {
//           background-color: $nav-background-color;
//           > li {
//             > a {
//               color: $colDefault;
//               &:hover,  &:focus {
//                 color: $text-color;
//                 background-color: $bgHighlight; }}
//             > .divider {
//               background-color: $bgHighlight;}}}}}
//     @if $dropDown {
//       .open .dropdown-menu > .active {
//         > a, > a:hover, > a:focus {
//           color: $text-color;
//           background-color: $bgHighlight; }}}
//     > .active {
//       > a, > a:hover, > a:focus {
//         color: $text-color;
//         background-color: $bgHighlight; }}
//     > .open {
//       > a, > a:hover, > a:focus {
//         color: $text-color;
//         background-color: $bgHighlight; }}}
//   .navbar-toggle {
//     border-color: $bgHighlight;
//     &:hover, &:focus {
//       background-color: $bgHighlight; }
//     .icon-bar {
//       background-color: $colDefault; }}
//   .navbar-collapse,
//   .navbar-form {
//     border-color: $colDefault; }
//   .navbar-link {
//     color: $colDefault;
//     &:hover {
//       color: $text-color; }}}
// @media (max-width: 767px) {
//   .navbar-default .navbar-nav .open .dropdown-menu {
//     > li > a {
//       color: $colDefault;
//       &:hover, &:focus {
//         color: $text-color; }}
//     > .active {
//       > a, > a:hover, > a:focus {
//         color: $text-color;
//         background-color: $bgHighlight; }}}
// }

.navbar {
  color: red !important;
  background-color: $nav-background-color;
  border-color: $nav-background-color;

  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-duration: 0.8s;
  .a:focus {

  }
  .navbar-nav > .active > a {
    transition: background-color 0.5s ease;
    background-color: $nav-button-select-color;
    &:hover, &:focus {
      transition: background-color 0.5s ease;
      background-color: $nav-button-select-color;
    }
  }
  .navbar-toggle {
    background-color: $nav-button-select-color;

    &:hover, &:focus {
      background-color: $nav-background-color;
      border-color: $nav-background-color;
    }
    .icon-bar {
      background-color: #CCC;
    }
  }

}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #777;

    &:hover, &:focus {
      color: #333;
    }
  }
}

@media (min-width: 767px) {
  .navbar {
      padding: 10px 0;
      -webkit-transition: background 0.25s ease-in-out, padding 0.25s ease-in-out;
      -moz-transition: background 0.25s ease-in-out, padding 0.25s ease-in-out;
      transition: background 0.25s ease-in-out, padding 0.25s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }
}

@keyframes dropHeader {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}
